<%- contentFor('header') %>

<div style="margin-top: -10px; color: red;">
    <%= score1 %> : <%= score2 %>
</div>
<div>
    <%= nickname1 %>
    vs
    <%= nickname2 %>
</div>

<%- contentFor('body') %>
    <body style="text-align: center">
        <table class="game">
            <tr>
                <td id='0'></td>
                <td id='1'></td>
                <td id='2'></td>
            </tr>
            <tr>
                <td id='3'></td>
                <td id='4'></td>
                <td id='5'></td>
            </tr>
            <tr>
                <td id='6'></td>
                <td id='7'></td>
                <td id='8'></td>
            </tr>
        </table>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        room = window.location.href.split('id=')[1];
        var socket = io.connect()
        socket.emit('create', [room, 'nickname1', 'nickname2'])

        $('td').click(function() {
            socket.emit('click', this.id)
        });

        socket.on('click', function(params) {
            $('td#' + params[0]).text(params[1])
        });
        
    </script>
    